<div ng-app="PBJ" ng-controller="AppCtrl">

  <div class="cursor-land">

    <div class="cursor"
         ng-repeat="cursor in cursors"
         ng-style="cursor.style">
      <!-- <span>{{cursor.name}}</span> -->
    </div>

  </div>

</div>

