<div ng-app="PBJ" ng-controller="AppCtrl">

  <div class="cursor-land">

    <div class="cursor"
         ng-repeat="cursor in cursors"
         ng-style="cursor.style">
      <p ng-if="cursor.chat">
        <br/>
        <span ng-click="reposVisible = !reposVisible">{{cursor.chat}}</span>
        <div class="repo-list">
          <ul>
            <li ng-repeat="repo in gitHubRepos | limitTo: 5"><a href="{{repo.url}}">{{repo.name}}</a></li>
            <li><a>Testing</a></li>
            <li><a>Styling It</a></li>
            <li><a>Yeah</a></li>
          </ul>
        </div>
      </p>
    </div>



    <!-- <span class="my-cursor" ng-class="{'moving': myCursor.moving}"
          ng-style="myCursor.style">
      ▼
    </span> -->

  </div>


  <!-- chat input -->
  <textarea
    placeholder="type your username."
    ng-model="myCursor.chat"
    ng-keyup="typeInChatBox($event)"
    ng-class="{'saying': myCursor.chat}">
  </textarea>

</div>

