body, html, * {
  margin: 0;
  padding: 0;
}

/* container for all the cursors */
.cursor-land {
  position: relative;
  width: 100%;
  height: 100%;
}

/* a particular cursor */
.cursor-land .cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

